/.vscode
/Assignment 2.Rmd
/Assignment-2.html
/Assignment-2.pdf
/big data final.docx
/big data final.pdf
/cleaned_allinfo
/cleaned_collapsedinfo
/cleaned_collapsedinfo.csv
/cleaned_collapsedinfo.rds
/codebook.xlsx
/cov.csv
/crosswalk.csv
/dataset.csv
/final draft.docx
/final paper - tj edits.docx
/final paper.docx
/Final Paper.pdf
/grades.csv
/initial_zillow.R
/Make_data_clean.R
/Our_data.R
/seda_info.csv
/zillow_housing_prices.csv